// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  // background: linear-gradient(to bottom, #200122, #6f0000);
  background: linear-gradient(to top, #e53935, #e35d5b);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#app {
  height: 100%;
}

#coursetrue {
  background: green;
  color: white;
}

#coursefalse {
  background: red;
  color: #ffff66;
}
#panel-top {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#panel-body {
  display: flex;
  flex: 1;
}

#flash-success {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

#notification-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}


#postarea{
  border: 1px solid lightgray;
  float: right;
}

#statusButton{
  display: flex;
  flex-direction: column;
}

.spinner {
  height: 50px;
  width: 50px;
  background: whitesmoke;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  animation: spinny 1s linear infinite;
  display: block;

  @keyframes spinny {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin-bottom: 20px;
  }
}

.form-spacing-top {
  padding-top: 20px;
}

.row.dashboard-flex {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  text-align: center;
}

.row.panels-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.first-panel {
  display: flex;
  width: 30%;
}

.second-panel {
  display: flex;
  width: 30%;
}

.third-panel {
  display: flex;
  width: 30%;
}

.templinks {
  color: $primary-color;
  border: 1px solid $panel-danger-border-color;
  text-decoration: none;
  padding: 10px;
  display: ruby-text;
  border-radius: 5px;
  font-family: Arial;
}

.templinks:hover, .templinks:focus {
  color: white;
  background-color: $primary-color;
  border: 1px solid $panel-danger-border-color;
  text-decoration: none;
  transition: all 0.5s;
}

.container-index {
  height: 470px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.course-index-heading {
  min-height: 20%;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: serif;
}

.course-index-heading h2, h3 {
  color: $primary-color;
}

.students-index-flex {
  height: 60%;
  width: 100%;
  display: flex;
  font-style: italic;
  font-size: 18px;
  color: #ff0066;
}

.table {
  color: $table-color;
  // color: brown;
  background-color: $primary-color;
}

thead {
  border: 1px double;
}

tr {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

th {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 25%;
  color: coral;
}

td {
  border: 1px double;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 50px;
  a {
    text-decoration: none;
    color: brown;
  }
  a:hover {
    text-decoration: none;
  }
  &:hover {
    background-color: brown;
    transition: all 0.5s;
    a {
      color: brown;
      border-color: brown;
      border-radius: 50px;
      background-color: whitesmoke;
      padding: 0px 10px 0px 10px;
      &:hover {
        cursor: pointer;
        color: whitesmoke;
        background-color: $navbar-default;
        transition: all 0.5s;
      }
    }
  }
}

tbody {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: transparent;
}

.panel-primary > .panel-heading {
  color: #ffff66;
  background-color: #3097D1;
  border-color: #3097D1;
}

.panel-danger {
  // border-color: #ffccff;
  border-color: $panel-danger-border-color;
  display: flex;
  flex-direction: column;
}

.panel-danger > .panel-heading {
  color: #ffff66;
  background-color: $primary-color;
  border-color: $panel-danger-border-color;
  // border-color: #ffccff;
}

.navbar-default {
  background-color: $navbar-default;
  border-color: #d3e0e9;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffff66;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffff66;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffff66;
  background-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

ul {
  .dropdown-menu {
    background-color: #6f0000;
    padding: 20px;
    > li {
      > a {
        color: whitesmoke;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: inherit;
  color: whitesmoke;
}

.Pmodal {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.navbar {
  border: none;
}
