// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $body-bg;
}

#app {
    height: 100%;
}

.score {
    font-size: 2em;
    background: #800000;
    color: white;
    text-align: center;
}

.score span {
    font-size: 5rem;
    font-weight: bold;
    color: lawngreen;
    font-family: cursive;
    padding-left: 3px;
}

.green {
    color: springgreen;
    font-size: 22px;
    background: green;
}

.red {
    color: #fff;
    font-size: 22px;
    background: firebrick;
}

.results {
    box-shadow: 0px 6px 20px 2px #800000;
}

.results ol {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.results ol li {
    list-style-position: inside;
}

.results ul {
    padding: 0;
}

.results .alert {
    padding: 5px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.results .panel-heading {
    font-size: 30px;
    text-align: center;
}

#panel-top {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#panel-body {
    display: flex;
    flex: 1;
}

#flash-success {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#flash-fail {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#notification-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}


#postarea{
    border: 1px solid lightgray;
    float: right;
}

#statusButton{
    display: flex;
    flex-direction: column;
}

.countdown {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    color: #fff;
}

.countdown div:first-child {
    background: #17a2b8;
    position: fixed;
    top: 42%;
}

.countdown span {
    display: block;
    font-size: 25px;

    font-family: sans-serif;
}

.spinner {
    height: 50px;
    width: 50px;
    background: whitesmoke;
    border-radius: 50px;
    border: 4px solid transparent;
    border-top-color: orangered;
    border-bottom-color: orangered;
    animation: spinny 1s linear infinite;
    display: block;

    @keyframes spinny {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        margin-bottom: 20px;
    }
}

.form-spacing-top {
    padding-top: 20px;
}

.row.dashboard-flex {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
}

.row.panels-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.first-panel {
    display: flex;
    width: 30%;
}

.second-panel {
    display: flex;
    width: 30%;
}

.third-panel {
    display: flex;
    width: 30%;
}

.templinks {
    color: $primary-color;
    border: 1px solid $panel-danger-border-color;
    text-decoration: none;
    padding: 10px;
    display: ruby-text;
    border-radius: 5px;
    font-family: Arial;
}

.templinks:hover, .templinks:focus {
    color: white;
    background-color: $primary-color;
    border: 1px solid $panel-danger-border-color;
    text-decoration: none;
    transition: all 0.5s;
}

.container-index {
    height: 470px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.course-index-heading {
    min-height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-style: italic;
    font-family: serif;
    h1 {
        flex: 1;
        text-align: center;
        color: whitesmoke;
    }
}

.flex-align-baseline {
    display: flex;
    align-items: baseline;
    h4 {
        flex: 1;
    }
    li {
        flex: 1;
        font-family: sans-serif;
        color: black;
        font-size: 20px;
    }
}

.course-index-heading h2, h3, h4 {
    color: $primary-color;
}

.students-index-flex {
    height: 60%;
    width: 100%;
    display: flex;
    font-style: italic;
    font-size: 18px;
    color: #ff0066;
}

.table {
    color: $table-color;
    // color: brown;
    background-color: $primary-color;
}

thead {
    border: 1px double;
}

tr {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

th {
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 25%;
    color: coral;
}

td {
    border: 1px double;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 50px;
    a {
        text-decoration: none;
        color: brown;
    }
    a:hover {
        text-decoration: none;
    }
    &:hover {
        background-color: brown;
        transition: all 0.5s;
        a {
            color: brown;
            border-color: brown;
            border-radius: 50px;
            background-color: whitesmoke;
            padding: 0px 10px 0px 10px;
            &:hover {
                cursor: pointer;
                color: whitesmoke;
                background-color: $navbar-default;
                transition: all 0.5s;
            }
        }
    }
}

tbody {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: transparent;
}

.panel-primary > .panel-heading {
    color: #ffff66;
    background-color: #3097D1;
    border-color: #3097D1;
}

.panel-danger {
    // border-color: #ffccff;
    border-color: $panel-danger-border-color;
    display: flex;
    flex-direction: column;
}

.panel-danger > .panel-heading {
    color: #ffff66;
    background-color: $primary-color;
    border-color: $panel-danger-border-color;
    // border-color: #ffccff;
}

.navbar-default {
    background-color: $navbar-default;
    border-color: #d3e0e9;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffff66;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffff66;
    background: transparent;

}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffff66;
    background: rgba(0,0,0,0.1);
    padding: 16px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul {
    .dropdown-menu {
        background-color: #6f0000;
        padding: 20px;
        > li {
            > a {
                color: whitesmoke;
            }
        }
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: inherit;
    color: whitesmoke;
}

.Pmodal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.navbar {
    border: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: none;
}

/* Modals */
/**
* Overlay
* -- only show for tablet and up
*/
@media only screen and (min-width: 40em) {
    .examModal-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .examModal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
/**
* Modal
*/
.examModal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.examModal .close-examModal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.examModal .close-examModal svg {
    width: 1.75em;
    height: 1.75em;
}
.examModal .examModal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.examModal.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding: 30px;
}
.examModal.active .examModal-content {
    opacity: 1;
}

.examModal-content p {
    height: 50%;
    color: red;
    margin: 30px 15px;
    border: 1px solid red;
    border-radius: 15px;
    transition: all 0.3s;
    box-shadow: 0px 2px 20px 0px firebrick;
    font-size: 24px;
    padding: 10px;
}

.examModal.active .close-examModal {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 1;
}

/**
* Mobile styling
*/
@media only screen and (max-width: 39.9375em) {
    h1 {
        font-size: 1.5rem;
    }

    .examModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        border-radius: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        padding: 0 !important;
    }

    .close-examModal {
        right: 20px !important;
    }
}
